h1 {color: blueviolet;}

h1 {
    font-size: 270%;
    text-align: center;

}
img {
    width: 30%;
    margin-left: 35%;
}
h2 {font-size: 150%;
    text-align: center;
    color: aquamarine;
}
body {background-color: black;}
